body {
    background-color: lightcyan;
    font-family: "Verdana";
}
h1 {
    text-align: center;
    padding: 20px 10px;
}
.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.left {
    display: flex;
    justify-content: center;
}
.mainImage, .answerImage {
    border: 1px solid black;
    padding: 35px;
    margin-right: 10px;
}
.mainImage {
    cursor: pointer;
}
button {
    height: 60px;
    width: 130px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Verdana";
    display: none;
    cursor: pointer;
}
.answerImage {
    display: none;
}
.message {
    text-align: center;
}
.choice {
    display: none;
    text-align: center;
    font-weight: bold;
}